body {
    /* remove margins and scroll bars */
    margin: 0;
    overflow: hidden;
  
    /* style text */
    text-align: center;
    font-size: 12px;
    font-family: Sans-Serif;
  
    /* color text */
    color: #444;
  }
  
